.git
.github
.idea
.vscode
.zed
.fleet

.env
.env.*
!.env.example
auth.json

node_modules
vendor
npm-debug.log
yarn-error.log

storage/*.key
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*.php

public/build
public/hot
public/storage

.phpunit.cache
.phpunit.result.cache
screenshots
tests
